<div class="container">
    <br>
    {{> message }}
    <h2>Login</h2>
    <form action="/login" method="POST">
        <div class="form-group">
            <small><label for="username">Username</label></small>
            <input type="username" name="username" id="username" class="form-control" required>
            <small><label for="password">Password</label></small>
            <input type="password" name="password" id="password" class="form-control" required>
            <small class="form-text text-muted">We'll never share your username or password with anyone else.</small>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <br>
    Don't have an account? <a style="display: inline-block" class="link" href="/register">Register!</a>
</div>