<head>
    <link rel="stylesheet" href="stylesheet.css">
    {{!-- do all code for the gameplay in this file! --}}
    <script type="text/javascript" src="wordle.js"></script>
    {{!-- {{ includeScript '/../resources/wordle.js' }} --}}
</head>

<body> 
    <div class="container">
        <br>
        {{> message }}
        
        <div style="text-align:center;"> 
            <img src="img.png" width="100" height="100" class="d-inline-block align-top" alt="TEMP_IMG">
            <h1 style="font-family:impact; text-align:center; margin-top: 10px; color:black;"> Temu Wordle </h1>
        </div>


        <div class="Grid" style="style:grid">
            {{!-- consider making a css sheet --}}
            <div id ="Row1" class="Row">
                <div id="letterbox1" class="letterbox">
                    <p class="Letter1" style="margin-top: 10px;">A</p>
                </div>
                <div id="letterbox2" class="letterbox" style="border:3px solid black;background-color:gray;border-radius:10px;width: 50px;height: 50px;display:inline-block;">
                    <p class="Letter2" style="margin-top: 10px;">A</p>
                </div>
                <div id="letterbox3" class="letterbox" style="border:3px solid black;background-color:gray;border-radius:10px;width: 50px;height: 50px;display:inline-block;">
                    <p class="Letter3" style="margin-top: 10px;">A</p>
                </div>
                <div id="letterbox4" class="letterbox" style="border:3px solid black;background-color:gray;border-radius:10px;width: 50px;height: 50px;display:inline-block;">
                    <p class="Letter4" style="margin-top: 10px;">A</p>
                </div>
                <div id="letterbox5" class="letterbox" style="border:3px solid black;background-color:gray;border-radius:10px;width: 50px;height: 50px;display:inline-block;">
                    <p class="Letter5" style="margin-top: 10px;">A</p>
                </div>
                <div id="letterbox6" class="letterbox" style="border:3px solid black;background-color:gray;border-radius:10px;width: 50px;height: 50px;display:inline-block;">
                    <p class="Letter6" style="margin-top: 10px;">A</p>
                </div>
            </div>

            <div id ="Row2" class="Row">
                <div id="letterbox1" class="letterbox">
                    <p class="Letter1" style="margin-top: 10px;">A</p>
                </div>
                <div id="letterbox2" class="letterbox">
                    <p class="Letter2" style="margin-top: 10px;">A</p>
                </div>
                <div id="letterbox3" class="letterbox">
                    <p class="Letter3" style="margin-top: 10px;">A</p>
                </div>
                <div id="letterbox4" class="letterbox">
                    <p class="Letter4" style="margin-top: 10px;">A</p>
                </div>
                <div id="letterbox5" class="letterbox">
                    <p class="Letter5" style="margin-top: 10px;">A</p>
                </div>
                <div id="letterbox6" class="letterbox">
                    <p class="Letter6" style="margin-top: 10px;">A</p>
                </div>
            </div>

            <div id="Row3" class="Row">
                <div id="letterbox1" class="letterbox">
                    <p class="Letter1" style="margin-top: 10px;">A</p>
                </div>
                <div id="letterbox2" class="letterbox">
                    <p class="Letter2" style="margin-top: 10px;">A</p>
                </div>
                <div id="letterbox3" class="letterbox">
                    <p class="Letter3" style="margin-top: 10px;">A</p>
                </div>
                <div id="letterbox4" class="letterbox">
                    <p class="Letter4" style="margin-top: 10px;">A</p>
                </div>
                <div id="letterbox5" class="letterbox">
                    <p class="Letter5" style="margin-top: 10px;">A</p>
                </div>
                <div id="letterbox6" class="letterbox">
                    <p class="Letter6" style="margin-top: 10px;">A</p>
                </div>
            </div>

            <div id="Row4" class="Row">
                <div id="letterbox1" class="letterbox">
                    <p class="Letter1" style="margin-top: 10px;">A</p>
                </div>
                <div id="letterbox2" class="letterbox">
                    <p class="Letter2" style="margin-top: 10px;">A</p>
                </div>
                <div id="letterbox3" class="letterbox">
                    <p class="Letter3" style="margin-top: 10px;">A</p>
                </div>
                <div id="letterbox4" class="letterbox">
                    <p class="Letter4" style="margin-top: 10px;">A</p>
                </div>
                <div id="letterbox5" class="letterbox">
                    <p class="Letter5" style="margin-top: 10px;">A</p>
                </div>
                <div id="letterbox6" class="letterbox">
                    <p class="Letter6" style="margin-top: 10px;">A</p>
                </div>
            </div>

            <div id="Row5" class="Row">
                <div id="letterbox1" class="letterbox">
                    <p class="Letter1" style="margin-top: 10px;">A</p>
                </div>
                <div id="letterbox2" class="letterbox">
                    <p class="Letter2" style="margin-top: 10px;">A</p>
                </div>
                <div id="letterbox3" class="letterbox">
                    <p class="Letter3" style="margin-top: 10px;">A</p>
                </div>
                <div id="letterbox4" class="letterbox">
                    <p class="Letter4" style="margin-top: 10px;">A</p>
                </div>
                <div id="letterbox5" class="letterbox">
                    <p class="Letter5" style="margin-top: 10px;">A</p>
                </div>
                <div id="letterbox6" class="letterbox">
                    <p class="Letter6" style="margin-top: 10px;">A</p>
                </div>
            </div>

        </div>



        <div class="Text_Input" style="top-margin:30px;font-family:impact; margin-left:10px;text-align:center;margin-top: 10px;">
        
            <form action="/DNE" method="POST">
                <div class="form-group" style="width:200px;text-align:center;display:inline-block;">

                    <input type="text" name="text" id="text" minlength="6" maxlength="6" size="6" class="form-control" required>
                
                </div>
                <button type="submit" class="btn btn-primary" style="border:3px solid black;background-color:gray;border-radius:10px;display:inline-block;">Guess!</button>
            </form>  

        </div>


        <div> 

            <p> Generated 6 letter word: </p>
            <p id="current_word"> --</p>
            <div>
                
            </div>

            
            <button id="make_new_word" onclick="generateWordTest();" type="submit" class="btn btn-primary" style="border:3px solid black;background-color:gray;border-radius:10px;display:inline-block;">
                Generate new word (this is to test making random words)
            </button>
        </div>


    </div>
</body>