<header>
  <nav class="navbar navbar-expand-lg navbar-dark"
    style="background-image: linear-gradient(to right, #ff9c33, #fc5c1c); width: 100%; border-bottom:3px solid #3f016e;">
    <a class="navbar-brand" style="font-family:impact; margin-left:10px; color:black;" href="/home" style="margin-left: 10px;">
      <img src="img.png" width="30" height="30"
        class="d-inline-block align-top" alt="TEMP_IMG">
        &nbsp;&nbsp;&nbsp;Temu Wordle
    </a>
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse"
      aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-collapse">

      <ul class="navbar-nav me-auto" style="font-family:impact; margin-left:10px;">
        <li class="nav-item">
          <a class="nav-link" style="color:black; border-radius:10px; border:3px solid black; border-style:rounded; background:gray;" href="/home">HOME</a>
        </li>
        &nbsp;&nbsp;
        <li class="nav-item">
          <a class="nav-link" style="color:black; border-radius:10px; border:3px solid black; border-style:rounded; background:gray;" href="/profile">PROFILE</a>
        </li>
      </ul>

      <span>
      <div class="nav-item me-1 text-white d-inline-block align-center">
        <!-- TODO: For Logout, add a <a> tag with an attribute href to call the '/logout API -->
        <a class="nav-link" href="/logout" style="margin-right:10px; margin-left: 10px; border: 5px outset black; background-color:red;"> <img
            src="https://cdn.pixabay.com/photo/2016/09/28/01/36/output-1699614_1280.png" width="30" height="30" alt="EXIT_IMG">&nbsp;&nbsp;
            <b>LOGOUT</b>&nbsp;&nbsp;
        </a>
      </div>
      </span>
    </div>


  </nav>
</header>