<header>
  <nav class="navbar navbar-expand-lg navbar-dark"
    style="background-image: linear-gradient(to right, orange, #db5602); width: 100%;">
    <a class="navbar-brand" href="#" style="margin-left: 10px;">
      <img src="https://cdn.pixabay.com/photo/2024/04/06/10/19/dog-8679031_1280.png" width="30" height="30"
        class="d-inline-block align-top" alt="TEMP_IMG">
      WEBSITE NAME
    </a>
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse"
      aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <!-- TODO: For Discover, add a <a> tag with an attribute href to call the '/discover' API -->
          <a class="nav-link text-white" href="#">TBD</a>
        </li>
        <li class="nav-item">
          <!-- TODO: For Discover, add a <a> tag with an attribute href to call the '/discover' API -->
          <a class="nav-link text-white" href="#">TBD</a>
        </li>
      </ul>
      <div class="nav-item me-1 text-white">
        <!-- TODO: For Logout, add a <a> tag with an attribute href to call the '/logout API -->
        <a class="nav-link" href="/logout" style="margin-right:10px; border: 5px outset black; background-color:red;"> <img
            src="https://cdn.pixabay.com/photo/2016/09/28/01/36/output-1699614_1280.png" width="30" height="30"
            class="d-inline-block align-center" alt="EXIT_IMG">&nbsp;&nbsp;
          <b>LOGOUT</b>&nbsp;&nbsp;
        </a>
      </div>
    </div>


  </nav>
</header>